wp-config.php
wp-content/plugins/si-contact-form/captcha/cache
.vscode
wp-content/uploads
wp-content/wflogs
wp-content/gallery
wp-content/plugins
wp-content/*.sql.gz
movefile.yml
wp-includes/
wp-admin/
