.chato h3 {
    line-height: 40px;
    margin: 0;
}

.chato {
    background: none repeat scroll 0 0 #222;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    margin: 0 0 20px;
    padding: 0 15px;
}
.chato {
    border-bottom: 1px solid #eee;
    margin: 40px 0 20px;
    padding-bottom: 9px;
}
